.card {
    margin-left:30px;
    box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.3);
    transition: 0.2s;
    width: 80%;
    border-radius:30px;
    /* padding-Bottom:32vh */
    margin-Bottom:1.5vh
    
  
  }
  
  .card:hover {
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.4);
  }
  
  .container {
    padding: 40px 30px px 10px  ;
     /* margin-right: 0px  */
    
  }
  .sethu1 {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 30px 22px 50px 20px;
    text-align: center;
    font-size: 16px;
    /* margin: 4px 2px 2px 2px; */
    opacity: 1;
    transition: 0.3s;
    border-radius: 30px;
    margin-left: 46%;
    padding-top: 4px !important;
    padding-bottom: 8px !important;
    
  }
  .sethu:hover {
    box-shadow: 2px 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
  }